* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url('1.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.icon {
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
}

.menu {
    display: flex;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 0 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.menu ul li a:hover {
    color: #ff7200;
}

.search {
    display: flex;
}

.srch {
    width: 200px;
    height: 40px;
    border: 1px solid #ff7200;
    background: transparent;
    color: white;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
}

.btn {
    background: #ff7200;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.content {
    width: 1200px;
    margin: auto;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.content h1 {
    font-size: 50px;
    font-family: 'Times New Roman';
}

.content h1 span {
    color: #ff7200;
    font-size: 65px;
}

.content .par {
    font-family: Arial;
    line-height: 30px;
    letter-spacing: 1.2px;
    margin: 20px 0;
}

.content .cn {
    background: #ff7200;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.content .cn a {
    color: black;
    text-decoration: none;
}

.content .cn:hover {
    background: white;
}

.form {
    background: rgba(0,0,0,0.8);
    padding: 25px;
    border-radius: 10px;
    margin: 20px auto;
    width: 250px;
    color: white;
}

.form h2 {
    background: white;
    color: #ff7200;
    padding: 10px;
    border-radius: 10px;
    font-size: 22px;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff7200;
    color: white;
}

.form input:focus {
    outline: none;
}

.form .btnn {
    background: #ff7200;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.form .btnn:hover {
    background: white;
    color: #ff7200;
}

.form .link {
    text-align: center;
    margin-top: 20px;
}

.form .link a {
    color: #ff7200;
    text-decoration: none;
}

.icons {
    text-align: center;
    margin: 20px 0;
}

.icons a {
    color: white;
    margin: 0 10px;
    font-size: 30px;
    transition: 0.3s ease;
}

.icons a:hover {
    color: #ff7200;
}
